.container-dash{
    width: 80%;
    height: 100%;
    margin: 0 10%;
    padding: 10px;
    border-radius: 15px;
    background-color: #1D2B44;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

